$grassColor: rgb(116, 255, 116);
$poisonColor: rgb(182, 85, 182);
$fireColor: rgb(221, 174, 87);
$bugColor: #99ad32;
$flyingColor: #a7a7fd;
$waterColor: #8282ff;
$normalColor: rgb(158, 158, 42);
$groundColor: #bb3;
$fightingColor: rgb(219, 112, 112);
$psychicColor: rgb(230, 139, 139);
$rockColor: rgb(211, 135, 135);
$iceColor: rgb(154, 154, 255);
$electricColor: rgb(230, 230, 187);
$dragonColor: rgb(143, 109, 223);
$ghostColor: rgb(156, 89, 156);

.Grass {
  background-color: $grassColor;
}

.Poison {
  background-color: $poisonColor;
}

.Fire {
  background-color: $fireColor;
}

.Water {
  background-color: $waterColor;
}

.Bug {
  background-color: $bugColor;
}

.Flying {
  background-color: $flyingColor;
}

.Normal {
  background-color: $normalColor;
}

.Ground {
  background-color: $groundColor;
}

.Fighting {  
  background-color: $fightingColor;
}

.Psychic {
  background-color: $psychicColor;
}

.Rock {
  background-color: $rockColor;
}

.Electric {
  background-color: $electricColor;
}

.Ice {
  background-color: $iceColor;
}

.Dragon {
  background-color: $dragonColor;
}

.Ghost {
  background-color: $ghostColor;
}